@import 'icons.css';

:root {
  --black: #222222;
  --gray: #777777;
  --white: #FFFFFF;
  --blue: #5180df;
  --red: #f00606;;
  --orange: #C20114;
  --green: #3b6936;

  --footer: #255877;
  --footer-height: 2.4rem;

  --x-small: .3rem;
  --small: .7rem;
  --medium: 1rem;
  --large: 1.8rem;
  --x-large: 2.5rem;

  --font-size-bigger: 3.2rem;
  --font-size-big: 1.6rem;
  --font-size-normal: 1.3rem;
  --font-size-small: .75rem;

  --first-color: var(--orange);
  --second-color: var(--orange);
  --third-color: var(--green);

  --border-radius-small: var(--x-small);
  --border-radius: var(--font-size-big);
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

body {
  width: 1200px;
  height: 630px;
  padding: 0;
  margin: 0;
  color: var(--black);
  width: 100%;
  background-image: url('/imgs/bgs/test3.jpg');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: cover;
  position: relative;
}

main {
  width: 52%;
  height: 100%;
  position: relative;
}
main::before {
  content: ' ';
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

h1 {
  font-size: var(--font-size-bigger);
  text-transform: uppercase;
  margin: 0;
  color: var(--white);
  position: relative;
  padding: 0 calc(var(--x-large)* 1);
  padding-top: calc( var(--x-large) * 1 );
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 115%;
}
h1 em {
  display: block;
  color: var(--first-color);
  text-shadow: 1px 1px 1px var(--white);
  font-style: normal;
}
p {
  position: relative;
  color: var(--white);
  padding: 0 calc(var(--x-large)* 1);
  font-size: var(--font-size-big);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 550;
}
em {
  color: var(--first-color);
  font-style: normal;
}


small {
  font-size: var(--font-size-small);
  font-weight: normal;
}

ul {
  position: relative;
  margin: 0;
  padding: 0;
  color: var(--white)!important;
  padding: 0 calc(var(--x-large)* 1);
  top: 2.7rem;
  font-size: var(--font-size-normal);
  list-style: auto;
  list-style-position: inside;
}

a {
  color: inherit;
}



.dot {
  display: inline-block;
  width: var(--x-large);
  height: var(--x-large);
  background-color: var(--white);
  position: relative;
  margin-left: calc(var(--x-large)* 1);
  margin-top: calc(var(--x-large)* 1);
  border-radius: var(--border-radius-small);
}
.dot:nth-child(2) {
  background-color: var(--first-color);
}

.sticker {
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
.sticker li {
  background-color: var(--black);
  margin: 1rem 0;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border: 1px solid var(--white);
  border-right: 0;
  font-style: italic;
  color: var(--white);
  font-weight: bold;
}