@import 'icons.css';

:root {
  --black: #171717;
  --gray: #777777;
  --white: #EEEEEE;
  --blue: #5180df;
  --red: #dd2e2e;
  --orange: #db700c;
  --green: #3b6936;

  --footer: #255877;
  --footer-height: 2.4rem;

  --small: .3rem;
  --medium: .7rem;
  --large: 1rem;
  --x-large: 2rem;

  --font-size-bigger: 3rem;
  --font-size-big: 1.8rem;
  --font-size-small: .85rem;

  --first-color: var(--blue);
  --second-color: var(--orange);

  --doc-width: 1200px;
  --doc-height: 630px;

  --section-color: var(--red)
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}

body {
  padding: 0;
  margin: 0;
  color: var(--black);
  width: 100%;
  background-image: url('');
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  position: relative;
}
body {
  height: var(--doc-height);
  width: var(--doc-width);;
}


h1 {
  font-size: var(--font-size-bigger);
  line-height: 100%;
  margin: 0;
}
h2, h3 {
  margin: 0;
}

small {
  display: block;
  font-size: var(--font-size-small);
  font-weight: normal;
}

em {
  font-weight: bold;
}

li {
  list-style-type: none;
  margin: var(--large) 0;
}

a {
  color: inherit;
}



/*MAIN*/
main {
  counter-reset: title;
}

.top, .bottom {
  height: calc( var(--doc-height) * 0.4 );
  width: 100%;
  background-color: var(--white);

  display: flex;
}
.mid {
  height: calc( var(--doc-height) * 0.2 );
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--x-large);
}


.top > div, .bottom > div {
  width: 20%;
  position: relative;
}

.top {
  --section-color: var(--blue)
}
.top > div::before, .bottom > div::before {
  counter-increment: title;
  content: counter(title);
  width: calc( var(--x-large) * 1.5);
  height: calc( var(--x-large) * 1.5);
  font-size: var(--font-size-big);
  font-weight: bold;
  display: inline-block;
  text-align: center;
  line-height: var(--x-large);
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--section-color);
}


h2 {
  color: var(--white);
  background-color: var(--section-color);
  text-align: center;
  width: 90%;
  margin: 1.5rem auto;
  font-size: 1.2rem;

  position: relative;
  z-index: 9;
}

.top p, .bottom p {
  color: var(--black);
  width: 54%;
  position: absolute;
  left: 40%;
  top: 30%;
  margin: 0;
  font-weight: 550;
}

.top img, .bottom img {
  position: absolute;
  top: .8rem;
  left: .5rem;
}

