div(id="dtable")
  table
    //- caption Users table
    thead 
      //- APIRELATED
      th id
      th Name
      //- APIRELATED
    tbody
  div(id="pagination")
    div Page #[span(id="page")] of #[span(id="pages")] pages 
    ul
    div Showing #[span(id="start")] - #[span(id="end")] of #[span(id="total")] results
    