@import "/components/shared/dTable/dTable.css";

#dtable img.preview {
  height: 5rem;
}
#dtable img.preview:hover {
  height: inherit;
  position: absolute;
  z-index: var(--modal);
}
#dtable td {
  vertical-align: middle;
}